/* .formMeusAtivos {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.market-div {
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.assetInNegociation .asset-in-label .asset-in-div{
  display: flex;
  margin: 10px;
}

.label {
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 25%;
}

.td {
  width: 25%;
  height: 10px;
}

.td2 {
  width: 25%;
  height: 50%;
}